.discover {
  background-color: #341cb0;
  padding: 4rem;
}
.discoverSection {
  width: 90%;
  margin: auto;
}

.discoverSecDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discoverText {
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-size: 24px;
}

.discoverLeft {
  width: 50%;
}

.discoverRight {
  width: 50%;
}

.discoverBtn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #D200A3;
  width: 110px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
}

@media only screen and (max-width: 780px) {
  .discoverSecDetails {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .discoverLeft {
    width: 100%;
    text-align: center;
  }

  .discoverRight {
    order: -1;
    width: 100%;
    margin-bottom: 2rem;
  }
  .discoverText {
    margin-left: 0;
    
  }

  .discoverImage {
    width: 100%;
    height: 100%
  }
}
