

.collectionSection {
    padding: 3rem 6rem;
}

.waterTitle {
    margin: 4rem 0 2rem;
}

.waterQueen {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 543px;
    margin: auto;
}

