

.textBtn {
    background-color: #C8009B;
    border: none;

    /* padding: 10px 32px; */
    border-radius: 8px;
    width: 110px;
    height: 50px;
    font-size: 18px;
    color: #fff;
}

.title{
    text-align: center;
    color: #6EFFF6;
    font-size: 32px;
    font-weight: 800;
}
.details{
    font-size: 48px;
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
}

.nft-card-information {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}



.homepage {
    position: relative;
}

.ellipse6 {
    position: absolute;
    top: 100px;
    right: 0;
    width: 1000px;
    height: 2000px;
}
.ellipse7 {
    position: absolute;
    top: 1700px;
    width: 1000px;
    height: 2000px;
}
.ellipse8 {
    position: absolute;
    top: 2900px;
    right: 0;
    width: 1000px;
    height: 2000px;
}
.ellipse9 {
    position: absolute;
    bottom: 300px;
    left: 0;
    width: 1000px;
    height: 1000px;
}


@media only screen and (max-width: 480px){
    .title{
        font-size: 19px;
    }
    .details{
        font-size: 25px;
    }

    
}